body{
    background-color: #ffffff;
}
.Header{
    color: #2ddabd;
    border: 5px;
    background-color: #000000 ;
    font-family: 'Open Sans', sans-serif;
}
.Header h1{
    padding-left: 675px;
}

h2{
    color: #fc9425;
    padding-left: 250px;
    font-size: 30px;
}
button{
    font-size: 20px;
    width: 300px;
    color: white;
    background-color: #4C9CD1;
    border: solid;  
    position: relative;
    left: 280px;
    top:20px;

}
.button1 button{
    background-color: #14ebc7;
}