body{
    background-color: #ffffff;
}
.Header{
    color: #2ddabd;
    border: 5px;
    background-color: #000000 ;
    font-family: 'Open Sans', sans-serif;
}
.Header h1{
    padding-left: 675px;
}

.box{
    border:10px solid black;
    background: #06beb6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width:700px;
    height:400px;
}
input{
    background-color:#70AD47;
    font-size: 29px;;
    width: 640px;
    height:70px;
}
button{
    height: 70px;
    width:70px;
    background-color: orange;
    font-size: 22px;
}