body{
    background-color: #ffffff;
}
.Header{
    color: #2ddabd;
    border: 5px;
    background-color: #000000 ;
    font-family: 'Open Sans', sans-serif;
}
.Header h1{
    padding-left: 675px;
}

h2 {
    color: #fc9425;
    width: 250px;
    font-size: 30px;
    position: relative;
    top:5px;
    left: 250px;
}
button{
    background-color:#4C9CD1;
    color: white;
    border-radius: 20px;
    font-size: 20px;
    position: relative;
    left: 240px;
}